name: Build APK Terabox

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # GANTI KE v4
    - uses: actions/checkout@v4

    # GANTI KE v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    # GANTI KE v4
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        channel: 'stable'

    - name: Install Dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release --no-shrink

    # INI YANG BIKIN ERROR TADI (GANTI KE v4)
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: terabox-app-release
        path: build/app/outputs/flutter-apk/app-release.apk
